/** 宽度 */
.w50 {
    width: 50%;
}

/** 边距 */
.p-10 {
    padding: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}


/** flex布局 */
.flex {
    display: flex;
}

.ac {
    align-items: center;
}

.jc {
    justify-content: center;
}

.flex1 {
    flex:1
}

.wrap {
    flex-wrap: wrap;
}